<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .navbar{
            height:200px;width:100%; background: linear-gradient(orange, #fdcb6e);
            display: flex
        }
        .leftbody{
            float: left; height: 30px; width:20%;justify-content: baseline;align-items: end;
        }
        .centerbody{ font-size: 4.3rem; color: black;}
        .rightbody{
            display: flex; gap: 60px 60px; text-decoration: none; font-size: 2.0rem; color:black;
            align-items: last baseline; padding-left: 250px;
        }
        .poster{ background: url(../assets/class3.jpg); height:400px;width:35%;margin-top:10px}
        .mid{display: flex;}
        .intro{float: right; width:70%; height:400px;margin-left: 10px;margin-top:10px;font-size:1.9rem;
        background-color: #2d3436; color: aliceblue;}
        .main{ background-color: #f5f6fa;height: 1000px;}
        .contenthead{
            height: 100px;width: 95%; background-color: #27ae60;color: white; justify-content: center; align-items: center; font-size: 2.5rem;
            margin-top: 20px;margin-left: 20px;margin-right: 20px; display: flex;
        }
        .content{ height: 100px;width: 95%; background-color:white;color:black; justify-content: center; align-items: center; font-size: 1.5rem;
            margin-left: 20px;margin-right: 20px;display: flex;
           }
           .cards{
            height: 300px; width:20%;margin-left: 20px;margin-right: 20px
           }
           .cardshead{
            height: 100px; width:20%; background-color: #27ae60;
           }
           .cardsbody{
            height: 200px; width:20%; background-color: white;
           }
    </style>
    
     
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jspider-Home</title>
</head>
<body>
    
    <div class="navbar">
        <div class="leftbody"><img src="../assets/jspider_logo.jpg"></div>
        <div class="centerbody"><b>Jspiders Institute</b></div>
        <div class="rightbody">
            <a href="/" style="text-decoration: none; color: black;">Home</a>
            <a href="/" style="text-decoration: none; color: black;">Faculty</a>
            <a href="/" style="text-decoration: none; color: black;">Courses</a>
            <a href="/" style="text-decoration: none; color: black;">Admin</a>
        </div>
    </div>
    <div class="mid">
        <div class="poster"></div>
        <div class="intro"><p>JSpiders is the world’s ace software course training organization with an aim to bridge the gap between
             the demands of the industry and the curriculum of educational institutions.With centers across the Globe, the institute is a platform where young minds are given the opportunity to build successful careers.
            ”JSpiders is a place where businesses find talent and dreams take flight.</p></div>
    </div>
    <div class="main">
        <div class="contenthead">Courses - Available</div>
        <div class="content">We have the most complete range of software training courses needed by the professionals around the world.Please do contact us for any queries related to the courses.
            Here are some of the popular courses we offer.</div>
    </div>

    <div class="cards">
        <div class="cardshead"></div>
        <div class="cardsbody"></div>
    </div>
</body>
</html>